.about {
    padding: 20px;
    background-color: #F4F4F4;
    margin: 20px 250px;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media (min-width: 600px) and (max-width: 1100px) {
    .about {
        margin: 16px 60px;
        padding: 16px;
        border-radius: 8px;
        box-shadow: rgba(50, 50, 93, 0.22) 0px 1.5px 4px -1px, rgba(0, 0, 0, 0.22) 0px 1px 2.5px -1px;
    }
}

@media (max-width: 600px) {
  .about {
    margin: 12px 12px;
    padding: 12px;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.18) 0px 1px 3px -1px, rgba(0, 0, 0, 0.18) 0px 1px 2px -1px;
  }
}
