.navbar {
  display: flex;
  justify-content: space-between; /* Space between left and right content */
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
  position: relative;
}

.logo {
  font-size: 1.6em;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.icon-links {
  display: flex;
  gap: 15px;
}

.icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  filter: invert(50%) sepia(100%) saturate(1000%) hue-rotate(190deg) brightness(100%) contrast(100%);
}

.icon:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.tooltip {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.2s;
}

.icon-wrapper {
  position: relative;
}

.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}