.tile {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;
}

.under-construction-banner {
    position: absolute;
    top: 5px;
    left: -25px;
    background-color: yellow;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 5px;
    transform: rotate(-15deg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.tile-logo {
    max-width: 100px;
    position: absolute;
    top: 10px;
    right: 10px;
    margin-bottom: 10px;
}

.tile-image {
    max-width: 760px;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
}

.tile-content {
    text-align: center;
    width: 100%;
}

.tile-title {
    font-size: 1.5em;
    margin: 10px 0 5px 0;
    word-wrap: break-word;
    letter-spacing: 3px;
}

.icons-row {
    margin-bottom: 15px;
}

.tile-description {
    font-size: 1em;
    margin: auto;
    word-wrap: break-word;
    max-width: 80%;
}

.github-icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.github-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.key-aspects {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.skill-bubble {
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 0.9em;
    word-wrap: break-word;
}

.tooltip {
    position: absolute;
    bottom: -25px;
    left: 51%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.2s;
    white-space: nowrap;
}

.icon-wrapper {
    position: relative;
    overflow: visible;
}

.icon-wrapper:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.multiple-images {
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.additional-image {
    max-width: 200px;
    width: 100%;
    margin-bottom: 10px;
    border: transparent;
}

/* Media query for smaller screens */
@media (max-width: 600px) {
    .tile {
        padding: 10px;
        margin: 5px;
    }

    .tile-title {
        font-size: 1.2em;
    }

    .tile-description {
        font-size: 0.9em;
    }

    .key-aspects {
        gap: 5px;
    }

    .skill-bubble {
        font-size: 0.8em;
        padding: 3px 6px;
    }

    .tile-logo {
        max-width: 50px;
        top: 5px;
        right: 5px;
    }

    .under-construction-banner {
        top: 5px;
        left: -15px;
        padding: 3px 6px;
        font-size: 0.8em;
    }

    .multiple-images {
        gap: 5px;
    }

    .additional-image {
        max-width: 100px;
    }
}

@media (max-width: 1100px) and (min-width: 601px) {
    .tile {
        padding: 15px;
        margin: 7px;
    }

    .tile-title {
        font-size: 1.3em;
    }

    .tile-description {
        font-size: 0.95em;
    }

    .key-aspects {
        gap: 7px;
    }

    .skill-bubble {
        font-size: 0.85em;
        padding: 4px 7px;
    }

    .tile-logo {
        max-width: 75px;
        top: 7px;
        right: 7px;
    }

    .under-construction-banner {
        top: 7px;
        left: -20px;
        padding: 4px 7px;
        font-size: 0.85em;
    }

    .multiple-images {
        gap: 7px;
    }

    .additional-image {
        max-width: 150px;
    }
}